# === CMake a kompilácia ===
# Ignoruje celý priečinok build, kde sa projekt kompiluje
build/
/.cmake/

# Pre prípad, že by si spustil CMake priamo v hlavnom priečinku
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# === Spustiteľné súbory a objekty ===
# Ignoruje samotné aplikácie a medziprodukty kompilácie
*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib
*.so
*.dll

# === Nastavenia editorov (voliteľné) ===
# Ignoruje skryté priečinky editorov, ktoré obsahujú tvoje osobné nastavenia okien a ciest
.vscode/
.idea/
.CLion*/
*.vscode-ca

# === Systémový odpad ===
.DS_Store
Thumbs.db